body{
    width: 960px;
    background-color:#963F1B;
    margin: auto;
}

header nav ul li {
display: inline;
margin-left: 2%;}

.float-image {
width: 200px;
}

.defintion{
    line-height: 1.5;
    background-color: rgb(128, 128, 128);
    text-align: left;
}
.float-right{
    float: right;
}



